@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@layer components {
	.custom-container {
		@apply absolute top-[calc(61px)] h-[calc(100%-121px)] w-full overflow-y-auto;
	}
}

body {
	height: 100vh;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
	body {
		/* The hack for Safari */
		height: -webkit-fill-available;
	}
}
